.main {
    width: 538px; height: 225px;

  }
  .second-white {
    margin-right: 50px !important;
  }


    @media (max-width: 1200px) {   
         .main {
             width: 100%; 
             height: auto;
             padding: 20px;
             margin-left:0;
              margin-right:0;
       }
 
      .second-white {
         margin-top: 0px !important;
         height: 55px;
      }



    }